@import '../../theme';
.container {
  .heroSection {
  }
  .story {
    .title {
      font-family: $primary_font_bold;
      font-size: 48px;
      text-align: center;
      padding: 0 15%;
      color: $charcoal;
      margin: 8% 0;
      @media screen and (max-width: $breakpoint1) {
        font-size: 32px;
        margin: 12% 0;
      }
      @media screen and (max-width: $breakpoint3) {
        font-size: 26px;
      }
    }
    .board {
      position: relative;
      padding: 10%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .ropeImg {
        position: relative;
        grid-area: 1/1/2/2;
        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
        @media screen and (max-width: $breakpoint3) {
          display: none;
        }
      }
      .components {
        grid-area: 1/1/2/2;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          'empty1     gearImg    gearTopic  bulbImg  bulbTopic   bulbTopic'
          'arrowTopic arrowTopic pieTopic   pieTopic pieTopic    pieImg'
          'arrowImg   empty2     pieTopic   pieTopic pieTopic    pieImg'
          'empty3     empty3     clockTopic clockImg pencilTopic pencilImg';
        @media screen and (max-width: $breakpoint3) {
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 'arrowImg arrowTopic' 'gearImg gearTopic' 'bulbImg bulbTopic' 'pieImg pieTopic' 'clockImg clockTopic' 'pencilImg pencilTopic';
          row-gap: 30px;
          align-items: center;
          justify-items: center;
          text-align: justify;
        }
        // .empty1 {
        //   font-size: 10px;
        //   color: $nobel_gray;
        //   grid-area: empty1;
        //   border: 1px solid yellowgreen;
        // }
        // .empty2 {
        //   font-size: 10px;
        //   color: $nobel_gray;
        //   grid-area: empty2;
        //   border: 1px solid yellowgreen;
        // }
        // .empty3 {
        //   font-size: 10px;
        //   color: $nobel_gray;
        //   grid-area: empty3;
        //   border: 1px solid yellowgreen;
        // }
        .gearImg {
          grid-area: gearImg;
          //   border: 1px solid yellowgreen;
          position: relative;
          left: 55%;
          bottom: 60%;
          @media screen and (max-width: $breakpoint1) {
            left: 30%;
            bottom: 50%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
          img {
            width: 100px;
            height: auto;
            @media screen and (max-width: $breakpoint1) {
              width: 85px;
            }
          }
        }
        .gearTopic {
          grid-area: gearTopic;
          position: relative;
          width: 130%;
          //   text-align: justify;
          bottom: 70%;
          left: 20%;
          font-size: 18px;
          @media screen and (max-width: $breakpoint1) {
            width: 170%;
            bottom: 55%;
            font-size: initial;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
        }
        .bulbImg {
          grid-area: bulbImg;
          //   border: 1px solid yellowgreen;
          position: relative;
          left: 114%;
          bottom: 17%;
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
          img {
            width: 100px;
            height: auto;
            @media screen and (max-width: $breakpoint1) {
              width: 85px;
              height: auto;
            }
          }
        }
        .bulbTopic {
          grid-area: bulbTopic;
          //   border: 1px solid yellowgreen;
          position: relative;
          text-align: left;
          left: 40%;
          width: 69%;
          bottom: 55%;
          font-size: 17px;
          @media screen and (max-width: $breakpoint1) {
            left: 50%;
            width: 75%;
          }
          @media screen and (max-width: $breakpoint2) {
            left: 55%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
        }
        .arrowImg {
          grid-area: arrowImg;
          //   border: 1px solid yellowgreen;
          position: relative;
          top: 30%;
          right: 30%;
          @media screen and (max-width: $breakpoint1) {
            right: 55%;
            top: initial;
            bottom: 50%;
          }
          @media screen and (max-width: $breakpoint2) {
            right: 65%;
            top: initial;
            bottom: 140%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
          img {
            width: 100px;
            height: auto;
          }
        }
        .arrowTopic {
          grid-area: arrowTopic;
          //   border: 1px solid yellowgreen;
          position: relative;
          text-align: justify;
          width: 56%;
          top: 65%;
          right: 17%;
          @media screen and (max-width: $breakpoint1) {
            right: 25%;
            top: initial;
            bottom: 100%;
            width: 86%;
          }
          @media screen and (max-width: $breakpoint2) {
            right: 25%;
            top: initial;
            bottom: 200%;
            width: 86%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
        }
        .pieImg {
          grid-area: pieImg;
          //   border: 1px solid yellowgreen;
          position: relative;
          right: 72%;
          top: 30%;
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
          @media screen and (max-width: $breakpoint1) {
            top: initial;
            bottom: 13%;
            right: 85%;
          }
          @media screen and (max-width: $breakpoint2) {
            top: initial;
            bottom: 43%;
            right: 95%;
          }

          img {
            width: 100px;
            height: auto;
            @media screen and (max-width: $breakpoint1) {
              width: 85px;
            }
          }
        }
        .pieTopic {
          grid-area: pieTopic;
          //   border: 1px solid yellowgreen;
          position: relative;
          width: 41%;
          text-align: left;
          left: 28%;
          top: 10%;
          font-size: 20px;
          @media screen and (max-width: $breakpoint1) {
            font-size: initial;
            top: initial;
            bottom: 41%;
            width: 50%;
            left: 18%;
          }
          @media screen and (max-width: $breakpoint2) {
            font-size: initial;
            top: initial;
            bottom: 80%;
            width: 50%;
            left: 16%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
        }
        .pencilImg {
          grid-area: pencilImg;
          //   border: 1px solid yellowgreen;
          position: relative;
          left: 90%;
          bottom: 26%;
          @media screen and (max-width: $breakpoint1) {
            bottom: 90%;
          }
          @media screen and (max-width: $breakpoint2) {
            bottom: 130%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
          img {
            width: 100px;
            height: auto;
            @media screen and (max-width: $breakpoint1) {
              width: 75px;
            }
          }
        }
        .pencilTopic {
          grid-area: pencilTopic;
          //   border: 1px solid yellowgreen;
          position: relative;
          text-align: left;
          width: 129%;
          top: 100%;
          left: 150%;
          @media screen and (max-width: $breakpoint1) {
            top: 40%;
          }
          @media screen and (max-width: $breakpoint1) {
            top: initial;
            bottom: 15%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
        }
        .clockImg {
          grid-area: clockImg;
          //   border: 1px solid yellowgreen;
          position: relative;
          left: 70%;
          top: 45%;
          @media screen and (max-width: $breakpoint1) {
            top: initial;
            left: 55%;
          }
          @media screen and (max-width: $breakpoint1) {
            top: initial;
            bottom: 50%;
            left: 45%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
          img {
            width: 100px;
            height: auto;
            @media screen and (max-width: $breakpoint1) {
              width: 85px;
            }
          }
        }
        .clockTopic {
          grid-area: clockTopic;
          //   border: 1px solid yellowgreen;
          position: relative;
          text-align: left;
          left: 40%;
          top: 70%;
          width: 113%;
          @media only screen and (max-width: $breakpoint1) {
            top: 25%;
            left: initial;
            width: 171%;
            right: 20%;
          }
          @media only screen and (max-width: $breakpoint1) {
            top: initial;
            left: initial;
            bottom: 30%;
            width: 171%;
            right: 30%;
          }
          @media screen and (max-width: $breakpoint3) {
            all: unset;
          }
        }
      }
    }
  }
  .conclude {
    padding: 0 5%;
    font-family: $primary_font_medium;
    color: $charcoal;
    font-size: 22px;
    margin: 60px 0;
  }
}
