.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .message {
    margin: 20px 0;
  }
  .link {
    a {
      text-decoration: none;
    }
  }
}
